@model Internet_Programlama_Final_Work.Models.LabAdres

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LabAdres</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KoridorNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KoridorNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KatNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KatNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefonNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefonNo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
