@model Internet_Programlama_Final_Work.Models.TestTur

@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" href="~/css/site.css" />
<h1>Details</h1>

<div>
    <h4>TestTur</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LabAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LabAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcTok)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcTok)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SonucSuresi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SonucSuresi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
